.drawCanvas {
  height: auto;
  overflow-y: auto;
  display: flex;
  justify-content: center;

  button {
    display: flex;
    gap: 15px;
    position: absolute;
    right: 20px;
    top: 20px;
    border: 1px solid red;
    width: 24px;
    height: 24px;
  }
}
