.markOption {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;

  > div {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  label {
    color: #fff;
    font-weight: 600;
    font-size: 16px;
  }

  [type="file"] {
    display: none;
  }

  .fileBtn {
    width: 100%;
    background: rgb(7 2 18);
    height: 60px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #fff;
  }
}
