@import url("https://webfontworld.github.io/sunn/SUIT.css");

* {
  margin: 0;
  padding: 0;
  font-family: "SUIT";
  -webkit-font-smoothing: antialiased;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: #fff;
}

ul,
li,
a {
  color: #333;
  text-decoration: none;
  list-style: none;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

#portal {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  position: absolute;
  top: 50%;
  left: 50%;
  background: #fff;
  transform: translate(-50%, -50%);
  border-radius: 15px;
}
