.toastPage {
  background: #fc5c7d;
  background: -webkit-linear-gradient(to right, #6a82fb, #fc5c7d);
  background: linear-gradient(to right, #6a82fb, #fc5c7d);
}

.toastArea {
  display: flex;
  gap: 20px;
  flex-direction: column;
  position: fixed;
  right: 50px;
  top: 50px;
  height: calc(100vh - 100px);
  overflow-y: auto;

  .toastCard {
    text-align: left;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 4px;
    max-width: 400px;
    min-width: 300px;
    box-shadow: 1px 7px 14px -5px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    gap: 15px;
    position: relative;

    i {
      display: inline-block;
      font-style: initial;
    }
  }

  .toastText {
    display: flex;
    flex-direction: column;

    p {
      font-size: 16px;
      color: rgb(7 2 18);
      font-weight: 500;
    }

    span {
      font-size: 14px;
      color: #878787;
      font-weight: 500;
    }
  }
}

.toastForm {
  display: grid;
  gap: 15px;
  min-width: 300px;

  button {
    width: 100%;
    margin-top: 20px;
    background: rgb(7 2 18);
    color: #fff;
  }
}
