.loginPage {
  background: -webkit-linear-gradient(to right, #dd1818, #333333);
  background: linear-gradient(to right, #dd1818, #333333);

  form {
    display: grid;
    gap: 15px;
    min-width: 300px;

    button {
      width: 300px;
      margin-top: 20px;
      background: rgb(7 2 18);
      color: #fff;
      height: 60px;
      border-radius: 15px;
      font-weight: 600;
      font-size: 16px;
    }
  }
}

.commentList {
  margin: 20px 20px 0 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 350px;
  position: fixed;
  right: 0;
  top: 0;
  max-height: calc(100% - 40px);
  overflow-y: auto;
  padding: 0 5px 0;

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: grey;
  }

  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #2f3542;
  }

  li {
    border-radius: 15px;
    background-color: #fff;
    padding: 0 30px;
    min-height: 65px;
    width: calc(100% - 60px);
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
  }
}

.textWrap {
  display: flex;
  flex-direction: column;

  input {
    padding: 0 5px 5px 0;
    border-bottom: 1px solid #ddd;
    box-shadow: none;
    height: auto;
    border-radius: 0;
    margin-bottom: 5px;
  }

  p {
    margin-bottom: 5px;
  }

  span {
    font-size: 12px;
  }
}

.btnWrap {
  display: flex;
  gap: 5px;

  i {
    font-style: normal;
    cursor: pointer;
  }
}
